/* Css da page home */

.home{
    width: 100%;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly; /*space-around*/
    

}

.home img{
    height: 400px;
}

.home p {
    font-size: 3rem; /*48px*/
    font-weight: bold;
    margin-bottom: 1rem;
}

.home span{
    color: var(--terceary);

}

.btn{
    width: 250px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.btn_blue{
    background-color: var(--terceary);
    color: var(--white);
}

.btn_blue:hover{
    background-color: var(--primary);
}

/*Aula 11 extra 01 responsividade */

@media (max-width: 768px){
    .home{
        flex-direction: column;
    }
}

@media (max-width: 492px){
   .home p{
     font-size: 2rem;
   } 

   .home img{

     max-width: 85%;
     height: auto ;
     padding-inline: 2.5rem;

   }
}